* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top:20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

h2{
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.color {
    width: 66%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
}

.color-container {
    width: 296px;
    height: 100px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.c-text {
    margin-top: 18px;
}
.purple {
    background-color: rgb(135, 31, 140);
}

.red {
    background-color: rgb(143, 16, 8);
}

.green {
    background-color: rgb(45, 143, 14)
}

.yellow {
    background-color: rgb(213, 219, 36);
}

.font {
    width: 66%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
}

.font-container {
    width: 290px;
    height: 100px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.font-container p {
    margin-bottom: 10px;
}

.patrick {
    font-family: 'Patrick Hand', cursive;
}

.bangers {
    font-family: 'Bangers', cursive;
}

.satisfy {
    font-family: 'Satisfy', cursive;
}

.text {
    width: 66%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
}

.text-container {
    width: 80%;
    height: 100px;
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: left;
    margin-bottom: 45px;
}

.text-container h1{
    text-align: left;
    text-decoration: none;
    line-height: 1.5em;
    word-spacing: -0.3em;
}
